*{
	padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
@media (max-width: 550px){
  .mastertext1{
    font-size: 3rem!important;
  }
  .mastertext2{
    font-size: 1rem!important;
  }
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: #04B4E0; 
  color: white; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 50px; 
  font-size: 18px;
}

#myBtn:hover {
  background-color: black; /* Add a dark-grey background on hover */
}
header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}
.mouse{
	width: 2.5rem;
	height: 5rem;
	border: 2px solid #fff;
	border-radius: 2rem;
	margin-bottom: .5rem;
	display: flex;
}

.mouse span{
	width: 1rem;
	height: 1rem;
	background-color: #04B4E0;
	display: block;
	border-radius: 50%;
	margin: auto;
	animation: move-wheel 1s linear infinite;
}
@keyframes move-wheel {
	0%{
		opacity: 0;
		transform: translateY(-1rem);
	}
	100%{
		opacity: 1;
		transform: translateY(1rem);
	}
}
.navbar{
	background-color: black;
}
.aboutme{
	text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-color: white;
}
.img-thumbnail:hover{
	width: 95%;
}
.form-control{
	width: 400px!important;
	border-top: 1px solid white!important;
	border-left: 1px solid white!important;
	border-right: 1px solid white!important;
}
#sticky-footer {
  background-color: black;
}
.card-text{
  font-size: 15px;
}