*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
header.masthead {
	padding-top: 150px;
	padding-bottom: 150px;
	background: url("img/bg-masthead.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
header.masthead h1 {
	font-size: 21px;
}
header.masthead h1{
	font-size: 40px;
}
.overlay{
	margin
	padding-top: 100px;
	padding-bottom: 50px;
	background: url("img/bg-masthead.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.face{
	border-radius: 150px;
	-webkit-box-shadow: 0px 10px 70px 0px rgba(0,0,0,0.23);
-moz-box-shadow: 0px 10px 70px 0px rgba(0,0,0,0.23);
box-shadow: 0px 10px 70px 0px rgba(0,0,0,0.23);
}
.ico{
	margin-left: 10px;
}
.zo:hover{
	transition-duration: 0.5s!important;
	width: 260px!important;
}