*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	font-family: 'Noto Sans JP', sans-serif;
}
.f1{
	height: 450px;
}
.bannermaster{
	background: url("img/bn5.jpg") no-repeat;
	height: 500px;
}
.bannertext{
	text-align: center;
	padding-top: 5%;	
}
.img1{
	background: url("img/img1.jpg") no-repeat;
	width: 500px;
	height: 350px;
	margin-top: 50px;
	margin-left: 200px;
	float: left;
}
.textframe1{
	padding-top: 5%;
	width: 1000px;
	margin-right: 150px;
	float: right;
}
.textframe2{
	margin-right: 20px;
	color: black;
}
.form-control{
	border-top: 1px solid white!important;
	border-left: 1px solid white!important;
	border-right: 1px solid white!important;
}
#mes{
	width: 1120px!important;
}
.nutbam{
	border: 2px solid black !important;
	margin-top: 30px!important;
	width: 200px;
	border-radius: 120px!important;
}
.card-footer{
	margin-top: 30px;
	height: 300px;
	background: black!important;
	color: white;
}
.fttext{
	padding-top: 3%;
}
.mouse{
	width: 2.5rem;
	height: 5rem;
	border: 2px solid #fff;
	border-radius: 2rem;
	margin-bottom: .5rem;
	display: flex;
}

.mouse span{
	width: 1rem;
	height: 1rem;
	background-color: red;
	display: block;
	border-radius: 50%;
	margin: auto;
	animation: move-wheel 1s linear infinite;
}
@keyframes move-wheel {
	0%{
		opacity: 0;
		transform: translateY(-1rem);
	}
	100%{
		opacity: 1;
		transform: translateY(1rem);
	}
}
